#bulk-actions {
  margin-bottom: 1em;
}

.spinner-div {
  padding-top: 4em;
}

.top-par {
	padding: 1em;
}

.redButton {
	background: red;
	color: white;
}

.org-name-head, .org-name-cell {
	width: 50%;
}

.created-head, .created-cell {
	width: 25%;
}

.mark-head, .mark-cell {
	width: 25%;
}

.loading-container {
	width: 50%;
	margin: 0 auto
}

.loading-container > p {
	margin: 3em auto;
	text-align: center;
}

.pagination > .ellipses > a:hover,
.pagination > .ellipses > a:focus {
	background: none;
    color: #000;
}
